In [1]:
# Package imports

import yfinance as yf
import pandas as pd

In [2]:
# List of NIFTY50 tickers (from 2024)

nifty_50_tickers = [
    'ADANIENT', 'ADANIPORTS', 'APOLLOHOSP', 'ASIANPAINT', 'AXISBANK',
    'BAJAJ-AUTO', 'BAJFINANCE', 'BAJAJFINSV', 'BEL', 'BPCL', 
    'BHARTIARTL', 'BRITANNIA', 'CIPLA', 'COALINDIA', 'DRREDDY', 
    'EICHERMOT', 'GRASIM', 'HCLTECH', 'HDFCBANK', 'HDFCLIFE', 
    'HEROMOTOCO', 'HINDALCO', 'HINDUNILVR', 'ICICIBANK', 'INDUSINDBK', 
    'INFY', 'JSWSTEEL', 'KOTAKBANK', 'LT', 'M&M', 
    'MARUTI', 'NTPC', 'NESTLEIND', 'ONGC', 'POWERGRID', 
    'RELIANCE', 'SBILIFE', 'SHRIRAMFIN', 'SBIN', 'SUNPHARMA', 
    'TCS', 'TATACONSUM', 'TATAMOTORS', 'TATASTEEL', 'TECHM', 
    'TITAN', 'TRENT', 'ULTRACEMCO', 'WIPRO'
]

In [3]:
# Initialising dataframe with business dates to store closing prices for each stock

ALL_CLOSING_PRICES = pd.DataFrame(pd.bdate_range(start='2017-01-10', end='2023-12-31'), columns=['Date'])
ALL_CLOSING_PRICES.set_index('Date', inplace=True)

ALL_CLOSING_PRICES

Empty DataFrame
Columns: []
Index: [2017-01-10 00:00:00, 2017-01-11 00:00:00, 2017-01-12 00:00:00, 2017-01-13 00:00:00, 2017-01-16 00:00:00, 2017-01-17 00:00:00, 2017-01-18 00:00:00, 2017-01-19 00:00:00, 2017-01-20 00:00:00, 2017-01-23 00:00:00, 2017-01-24 00:00:00, 2017-01-25 00:00:00, 2017-01-26 00:00:00, 2017-01-27 00:00:00, 2017-01-30 00:00:00, 2017-01-31 00:00:00, 2017-02-01 00:00:00, 2017-02-02 00:00:00, 2017-02-03 00:00:00, 2017-02-06 00:00:00, 2017-02-07 00:00:00, 2017-02-08 00:00:00, 2017-02-09 00:00:00, 2017-02-10 00:00:00, 2017-02-13 00:00:00, 2017-02-14 00:00:00, 2017-02-15 00:00:00, 2017-02-16 00:00:00, 2017-02-17 00:00:00, 2017-02-20 00:00:00, 2017-02-21 00:00:00, 2017-02-22 00:00:00, 2017-02-23 00:00:00, 2017-02-24 00:00:00, 2017-02-27 00:00:00, 2017-02-28 00:00:00, 2017-03-01 00:00:00, 2017-03-02 00:00:00, 2017-03-03 00:00:00, 2017-03-06 00:00:00, 2017-03-07 00:00:00, 2017-03-08 00:00:00, 2017-03-09 00:00:00, 2017-03-10 00:00:00, 2017-03-13 00:00:00, 2017-03-14 00:00:00, 2017-03-15 00:00:00, 2017-03-16 00:00:00, 2017-03-17 00:00:00, 2017-03-20 00:00:00, 2017-03-21 00:00:00, 2017-03-22 00:00:00, 2017-03-23 00:00:00, 2017-03-24 00:00:00, 2017-03-27 00:00:00, 2017-03-28 00:00:00, 2017-03-29 00:00:00, 2017-03-30 00:00:00, 2017-03-31 00:00:00, 2017-04-03 00:00:00, 2017-04-04 00:00:00, 2017-04-05 00:00:00, 2017-04-06 00:00:00, 2017-04-07 00:00:00, 2017-04-10 00:00:00, 2017-04-11 00:00:00, 2017-04-12 00:00:00, 2017-04-13 00:00:00, 2017-04-14 00:00:00, 2017-04-17 00:00:00, 2017-04-18 00:00:00, 2017-04-19 00:00:00, 2017-04-20 00:00:00, 2017-04-21 00:00:00, 2017-04-24 00:00:00, 2017-04-25 00:00:00, 2017-04-26 00:00:00, 2017-04-27 00:00:00, 2017-04-28 00:00:00, 2017-05-01 00:00:00, 2017-05-02 00:00:00, 2017-05-03 00:00:00, 2017-05-04 00:00:00, 2017-05-05 00:00:00, 2017-05-08 00:00:00, 2017-05-09 00:00:00, 2017-05-10 00:00:00, 2017-05-11 00:00:00, 2017-05-12 00:00:00, 2017-05-15 00:00:00, 2017-05-16 00:00:00, 2017-05-17 00:00:00, 2017-05-18 00:00:00, 2017-05-19 00:00:00, 2017-05-22 00:00:00, 2017-05-23 00:00:00, 2017-05-24 00:00:00, 2017-05-25 00:00:00, 2017-05-26 00:00:00, 2017-05-29 00:00:00, ...]

[1819 rows x 0 columns]

In [4]:
# Retrieve data for all the tickers from 2017 to 2022

for ticker in nifty_50_tickers:
    closing_prices = yf.download(f"{ticker}.NS", start='2017-01-01', end='2023-12-31', progress=False)['Close']
    ALL_CLOSING_PRICES[ticker] = closing_prices

1 Failed download:
['BTC-USD.NS']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

1 Failed download:
['ETH-USD.NS']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

In [5]:
ALL_CLOSING_PRICES.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1819 entries, 2017-01-10 to 2023-12-29
Data columns (total 51 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ADANIENT    1721 non-null   float64
 1   ADANIPORTS  1721 non-null   float64
 2   APOLLOHOSP  1721 non-null   float64
 3   ASIANPAINT  1721 non-null   float64
 4   AXISBANK    1721 non-null   float64
 5   BAJAJ-AUTO  1721 non-null   float64
 6   BAJFINANCE  1721 non-null   float64
 7   BAJAJFINSV  1721 non-null   float64
 8   BEL         1721 non-null   float64
 9   BPCL        1721 non-null   float64
 10  BHARTIARTL  1721 non-null   float64
 11  BRITANNIA   1721 non-null   float64
 12  CIPLA       1721 non-null   float64
 13  COALINDIA   1721 non-null   float64
 14  DRREDDY     1721 non-null   float64
 15  EICHERMOT   1721 non-null   float64
 16  GRASIM      1721 non-null   float64
 17  HCLTECH     1721 non-null   float64
 18  HDFCBANK    1721 non-null   float64
 19  HDFCLIFE    1509 non-null   float64
 20  HEROMOTOCO  1721 non-null   float64
 21  HINDALCO    1721 non-null   float64
 22  HINDUNILVR  1721 non-null   float64
 23  ICICIBANK   1721 non-null   float64
 24  INDUSINDBK  1721 non-null   float64
 25  INFY        1721 non-null   float64
 26  JSWSTEEL    1721 non-null   float64
 27  KOTAKBANK   1721 non-null   float64
 28  LT          1721 non-null   float64
 29  M&M         1721 non-null   float64
 30  MARUTI      1721 non-null   float64
 31  NTPC        1721 non-null   float64
 32  NESTLEIND   1721 non-null   float64
 33  ONGC        1721 non-null   float64
 34  POWERGRID   1721 non-null   float64
 35  RELIANCE    1721 non-null   float64
 36  SBILIFE     1541 non-null   float64
 37  SHRIRAMFIN  1721 non-null   float64
 38  SBIN        1721 non-null   float64
 39  SUNPHARMA   1721 non-null   float64
 40  TCS         1721 non-null   float64
 41  TATACONSUM  1721 non-null   float64
 42  TATAMOTORS  1721 non-null   float64
 43  TATASTEEL   1721 non-null   float64
 44  TECHM       1721 non-null   float64
 45  TITAN       1721 non-null   float64
 46  TRENT       1721 non-null   float64
 47  ULTRACEMCO  1721 non-null   float64
 48  WIPRO       1721 non-null   float64
 49  BTC-USD     0 non-null      float64
 50  ETH-USD     0 non-null      float64
dtypes: float64(51)
memory usage: 739.0 KB

In [6]:
# Getting a dictionary for ticker -> non-null value counts

nonnull_values = ALL_CLOSING_PRICES.count(axis=0).to_dict()
print (nonnull_values)
# Getting median number of non-null entries

median_num_of_nonnull_entries = ALL_CLOSING_PRICES.count(axis=0).median()
print (median_num_of_nonnull_entries)

{'ADANIENT': 1721, 'ADANIPORTS': 1721, 'APOLLOHOSP': 1721, 'ASIANPAINT': 1721, 'AXISBANK': 1721, 'BAJAJ-AUTO': 1721, 'BAJFINANCE': 1721, 'BAJAJFINSV': 1721, 'BEL': 1721, 'BPCL': 1721, 'BHARTIARTL': 1721, 'BRITANNIA': 1721, 'CIPLA': 1721, 'COALINDIA': 1721, 'DRREDDY': 1721, 'EICHERMOT': 1721, 'GRASIM': 1721, 'HCLTECH': 1721, 'HDFCBANK': 1721, 'HDFCLIFE': 1509, 'HEROMOTOCO': 1721, 'HINDALCO': 1721, 'HINDUNILVR': 1721, 'ICICIBANK': 1721, 'INDUSINDBK': 1721, 'INFY': 1721, 'JSWSTEEL': 1721, 'KOTAKBANK': 1721, 'LT': 1721, 'M&M': 1721, 'MARUTI': 1721, 'NTPC': 1721, 'NESTLEIND': 1721, 'ONGC': 1721, 'POWERGRID': 1721, 'RELIANCE': 1721, 'SBILIFE': 1541, 'SHRIRAMFIN': 1721, 'SBIN': 1721, 'SUNPHARMA': 1721, 'TCS': 1721, 'TATACONSUM': 1721, 'TATAMOTORS': 1721, 'TATASTEEL': 1721, 'TECHM': 1721, 'TITAN': 1721, 'TRENT': 1721, 'ULTRACEMCO': 1721, 'WIPRO': 1721, 'BTC-USD': 0, 'ETH-USD': 0}
1721.0

In [7]:
# Getting a list of all stocks which dont have the median number of entries

stocks_to_be_excluded = [ticker for ticker in nonnull_values if nonnull_values[ticker] !=  median_num_of_nonnull_entries]
print (stocks_to_be_excluded)

['HDFCLIFE', 'SBILIFE', 'BTC-USD', 'ETH-USD']

In [8]:
ALL_CLOSING_PRICES = ALL_CLOSING_PRICES.drop(columns=stocks_to_be_excluded)
ALL_CLOSING_PRICES

,ADANIENT,ADANIPORTS,APOLLOHOSP,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJFINANCE,BAJAJFINSV,BEL,BPCL,...,SUNPHARMA,TCS,TATACONSUM,TATAMOTORS,TATASTEEL,TECHM,TITAN,TRENT,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-10,43.701077,293.899994,1196.900024,923.599976,447.350006,2740.750000,899.750000,301.015015,45.809090,220.100006,...,638.549988,1157.675049,124.449997,516.250000,41.148697,473.500000,361.450012,198.850006,3279.449951,89.343773
2017-01-11,44.055264,295.649994,1199.300049,934.650024,453.600006,2718.550049,896.150024,301.850006,46.292423,220.300003,...,648.200012,1162.199951,127.550003,519.250000,42.706421,474.049988,360.750000,199.050003,3353.100098,89.287521
2017-01-12,43.673832,292.750000,1206.000000,933.549988,455.200012,2737.149902,891.200012,301.859985,46.996967,219.766663,...,644.750000,1172.175049,125.150002,518.250000,42.639729,481.200012,363.700012,196.949997,3352.500000,90.600021
2017-01-13,42.774746,294.049988,1187.400024,933.250000,472.799988,2708.550049,900.049988,301.959991,46.322727,219.216660,...,653.000000,1124.650024,128.350006,514.849976,42.525398,488.500000,358.350006,214.000000,3319.699951,90.871895
2017-01-16,43.483116,300.649994,1176.599976,935.250000,477.250000,2721.649902,917.700012,301.260010,46.351517,222.699997,...,643.500000,1129.275024,127.650002,526.400024,43.678211,487.149994,362.850006,213.050003,3340.199951,90.890648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-26,2865.449951,1028.750000,5633.149902,3383.350098,1094.250000,6464.549805,7162.299805,1645.300049,181.949997,225.800003,...,1247.500000,3795.550049,1007.349976,719.549988,135.199997,1282.000000,3656.699951,2970.000000,10018.650391,235.050003
2023-12-27,2843.350098,1024.400024,5687.450195,3404.449951,1106.349976,6709.649902,7232.799805,1669.449951,180.199997,227.350006,...,1252.449951,3811.199951,1026.750000,740.900024,137.199997,1280.150024,3689.250000,3010.750000,10436.099609,235.475006
2023-12-28,2809.899902,1016.950012,5760.500000,3397.250000,1107.849976,6703.299805,7258.649902,1681.199951,182.699997,232.899994,...,1262.150024,3799.899902,1041.000000,753.900024,138.149994,1285.949951,3715.100098,3026.000000,10426.299805,234.725006
2023-12-29,2848.949951,1024.349976,5704.100098,3402.399902,1102.300049,6797.250000,7327.750000,1685.800049,184.199997,225.324997,...,1259.449951,3793.399902,1086.800049,779.950012,139.600006,1272.650024,3675.449951,3054.949951,10503.049805,235.649994

In [9]:
# Dropping all rows which have NaN values which is due to trading holidays

ALL_CLOSING_PRICES = ALL_CLOSING_PRICES.dropna()
ALL_CLOSING_PRICES

,ADANIENT,ADANIPORTS,APOLLOHOSP,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJFINANCE,BAJAJFINSV,BEL,BPCL,...,SUNPHARMA,TCS,TATACONSUM,TATAMOTORS,TATASTEEL,TECHM,TITAN,TRENT,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-10,43.701077,293.899994,1196.900024,923.599976,447.350006,2740.750000,899.750000,301.015015,45.809090,220.100006,...,638.549988,1157.675049,124.449997,516.250000,41.148697,473.500000,361.450012,198.850006,3279.449951,89.343773
2017-01-11,44.055264,295.649994,1199.300049,934.650024,453.600006,2718.550049,896.150024,301.850006,46.292423,220.300003,...,648.200012,1162.199951,127.550003,519.250000,42.706421,474.049988,360.750000,199.050003,3353.100098,89.287521
2017-01-12,43.673832,292.750000,1206.000000,933.549988,455.200012,2737.149902,891.200012,301.859985,46.996967,219.766663,...,644.750000,1172.175049,125.150002,518.250000,42.639729,481.200012,363.700012,196.949997,3352.500000,90.600021
2017-01-13,42.774746,294.049988,1187.400024,933.250000,472.799988,2708.550049,900.049988,301.959991,46.322727,219.216660,...,653.000000,1124.650024,128.350006,514.849976,42.525398,488.500000,358.350006,214.000000,3319.699951,90.871895
2017-01-16,43.483116,300.649994,1176.599976,935.250000,477.250000,2721.649902,917.700012,301.260010,46.351517,222.699997,...,643.500000,1129.275024,127.650002,526.400024,43.678211,487.149994,362.850006,213.050003,3340.199951,90.890648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,2808.350098,1027.500000,5541.399902,3341.300049,1088.300049,6372.100098,7295.299805,1672.050049,174.800003,223.324997,...,1243.650024,3824.000000,992.799988,724.700012,133.550003,1275.150024,3627.350098,2965.500000,9969.000000,231.324997
2023-12-26,2865.449951,1028.750000,5633.149902,3383.350098,1094.250000,6464.549805,7162.299805,1645.300049,181.949997,225.800003,...,1247.500000,3795.550049,1007.349976,719.549988,135.199997,1282.000000,3656.699951,2970.000000,10018.650391,235.050003
2023-12-27,2843.350098,1024.400024,5687.450195,3404.449951,1106.349976,6709.649902,7232.799805,1669.449951,180.199997,227.350006,...,1252.449951,3811.199951,1026.750000,740.900024,137.199997,1280.150024,3689.250000,3010.750000,10436.099609,235.475006
2023-12-28,2809.899902,1016.950012,5760.500000,3397.250000,1107.849976,6703.299805,7258.649902,1681.199951,182.699997,232.899994,...,1262.150024,3799.899902,1041.000000,753.900024,138.149994,1285.949951,3715.100098,3026.000000,10426.299805,234.725006
2023-12-29,2848.949951,1024.349976,5704.100098,3402.399902,1102.300049,6797.250000,7327.750000,1685.800049,184.199997,225.324997,...,1259.449951,3793.399902,1086.800049,779.950012,139.600006,1272.650024,3675.449951,3054.949951,10503.049805,235.649994

In [10]:
# Save to file

ALL_CLOSING_PRICES.to_csv('./data/closing_prices.csv')